<div class="page-header">
  <%= link_to "/entregas", class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_contum_path(@contum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show contum</h1>
</div>

<dl class="dl-horizontal">
  <dt>Tipo conta:</dt>
  <dd><%= @contum.tipo_contum.descricao %></dd>

  <dt>Cadastro:</dt>
  <dd><%= @contum.cadastro %></dd>

  <dt>Referencia:</dt>
  <dd><%= @contum.referencia %></dd>

  <dt>Vencimento:</dt>
  <dd><%= @contum.vencimento %></dd>

  <dt>Valor:</dt>
  <dd><%= @contum.valor %></dd>

</dl>
