<div class="page-header">
  <%= link_to new_reparo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reparo
  <% end %>
  <h1>Listing reparos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Descricao</th>
            <th>Valor</th>
            <th></th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @reparos) do |reparo| %>
            <td><%= reparo.descricao %></td>
            <td><%= reparo.valor %></td>
            <td><%= link_to 'Edit', edit_reparo_path(reparo) %></td>
            <td><%= link_to 'Destroy', reparo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
